* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
}

body {
    background: #333;
    color: white;
    font-size: 14px;
    line-height: 1.5;
}

header {
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    gap: 10px;

}

.logo-bal {
    height: 45px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.nav-links a.alahuzas {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.legfelülakcionagy {
    background-color: gold;
    text-align: center;
    color: black;
    padding: 8px 5px;
    width: 100%;
    font-size: 13px;
    margin-top: 140px;
}
strong{
    font-weight: 700;
}
.footer {
    background-color: black;
    color: gray;
    text-align: center;
    padding: 15px 10px;
    font-size: 12px;
}

.elsoblokk {
    text-align: center;
    padding: 50px 15px;
    background: url("lobby.png") center/cover no-repeat;
    color: white;
}

.elsoblokk h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.2;
}

.elsoblokk p {
    font-size: 15px;
    margin-bottom: 25px;
}

.gomb1 {
    display: inline-block;
    padding: 10px 20px;
    background: #ffcc00;
    color: black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.rolunk-section {
    padding: 40px 5%;
}

.rolunk-left h2 {
    text-align: center;
    font-size: 28px;
    color: gold;
    margin-bottom: 30px;
}

.rolunk-flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.rolunk-flex h3,
.rolunk-flex h4 {
    color: gold;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: underline;
}

.rolunk-left p {
    margin-bottom: 10px;
    font-size: 14px;
}

.eger {
    cursor: pointer;
}

.rolunk-right img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid gold;
}

.szakemberek-oldal {
    margin: 0 auto;
    padding: 30px 5%;
    background: url("szaki.png") center/cover no-repeat;
    
}

.szakemberekH1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: gold;
}

.szaki {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 2px solid gold;
    background: #444;
    padding: 30px 20px;
    text-align: center;
}

.szaki__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.szaki__name {
    font-size: 24px;
    margin-bottom: 15px;
    color: gold;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.szaki__desc {
    font-size: 14px;
    color: white;
    text-align: center;
}

.szaki__img {
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
}

.arakGomb {
    display: inline-block;
    padding: 10px 25px;
    background: #ffcc00;
    color: black;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    width: auto;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
}

.arak-oldal {
    padding: 30px 10px;
    background: url("arak.png") center/cover no-repeat;
}

.arak-oldal h1 {
    text-align: center;
    font-size: 28px;
    color: gold;
    margin-bottom: 30px;
}

.arak-flex {
    margin: 10px auto;
    display: block;
    width: 100%;
    overflow-x: auto;
}

.arak-tablazat {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    min-width: 300px;
}

.arak-tablazat th,
.arak-tablazat td {
    border: 1px solid #555;
    padding: 10px 5px;
    text-align: center;
    white-space: nowrap;
}

.arak-tablazat th {
    background-color: #222;
    color: gold;
    font-size: 14px;
}

.arak-tablazat td {
    background-color: #444;
    color: white;
}

.arak-footer {
    margin-top: 15px;
    text-align: center;
    color: lightgray;
    font-size: 12px;
}

.foglalasMain h1 {
    color: gold;
    text-align: center;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.foglalas-flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 5%;
    margin-bottom: 100px;
}

.foglalas-form {
    width: 100%;
    background-color: gray;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid gold;
}

.foglalas-kep img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 3px solid gold;
}

.foglalas-form label {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    color:black;
}

.foglalas-form input,
.foglalas-form select {
    display: block;
    margin: 8px auto;
    color: white;
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    width: 90%;
    max-width: 400px;
    border: 1px solid #555;
    border-radius: 5px;
    cursor: pointer;
}

.foglalas-form button {
    display: block;
    margin: 30px auto 0;
    color: black;
    background-color: gold;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    border: none;
    cursor: pointer;
}
.velemenyek-oldal{
    background: url("velemeny.png") center/cover no-repeat;
}
.velemenyek-oldal h1 {
    font-size: 28px;
    color: black;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.atlag{
    font-size: 15px;
    color:black;
    background-color: gold;
    padding: 5px 10px ;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
}

.velemenyform h2 {
    font-size: 24px;
    color: gold;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.velemenymelle {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 5%;
    padding-bottom: 100px;
}

.velemenyek-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.velemeny-kartya {
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #444;
    border-radius: 10px;
    border: 1px solid #555;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.velemeny-nev {
    font-size: 18px;
    font-weight: bold;
    color: gold;
}

.velemeny-szoveg {
    font-size: 14px;
}

.velemenyform {
    width: 100%;
    padding: 20px;
    background-color: gray;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.velemenyform label {
    font-size: 16px;
    display: block;
    text-align: center;
    margin-top: 15px;
    color:black;
}

.velemenyform input,
.velemenyform select {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    display: block;
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    cursor: pointer;
}

.velemenyform button {
    width: 90%;
    font-size: 20px;
    padding: 10px;
    display: block;
    margin: 30px auto 0;
    background-color: gold;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}


@media (min-width: 768px) {
    body {
        font-size: 16px;
    }

    .legfelülakcionagy {
        margin-top: 75px;
        font-size: 16px;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 20px;
        gap: 0;
        height: 75px;
    }

    .logo-bal {
        height: 65px;
    }

    .nav-links a {
        font-size: 18px;
        text-transform: none;
    }

    .nav-links a:hover {
        transform: translateY(-5px);
    }

    .elsoblokk {
        padding: 120px 20px;
    }

    .elsoblokk h2 {
        font-size: 42px;
    }

    .elsoblokk p {
        font-size: 20px;
    }

    .rolunk-flex {
        flex-direction: row;
        justify-content: space-between;
        padding: 25px;
        align-items: stretch; 
    }
    
    .rolunk-left {
        flex: 1;
        width: 50%;
    }

    .rolunk-left p {
        font-size: 18px;
    }
    
    .rolunk-left h2 {
        font-size: 40px;
    }
    
    .rolunk-right {
        flex: 1;
        width: 50%;
        display: flex;
    }

    .rolunk-right img {
         border: 5px solid gold;
         height: 100%;
         width: 100%;
         object-fit: cover;
    }

    .szakemberek-oldal {
        padding: 50px 13%;
    }
    
    .szakemberekH1 {
        font-size: 40px;
    }

    .szaki {
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        text-align: left;
        border: 3px solid gold;
    }

    .szaki__text {
        align-items: center; 
        padding: 0 20px;
    }

    .szaki__desc {
        text-align: left;
        font-size: 18px;
    }
    
    .szaki__name {
        font-size: 28px;
        text-align: center;
        width: 100%;
    }

    .szaki__img {
        max-width: 350px;
        margin: 0;
    }

    .szaki:nth-child(even) {
        flex-direction: row-reverse;
    }
    
    .arakGomb {
        width: auto;
        margin-top: 20px;
    }

    .arak-oldal h1 {
        font-size: 40px;
    }

    .arak-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        overflow: visible;
    }
    
    .arak-tablazat th, .arak-tablazat td {
        padding: 12px 15px;
        font-size: 16px;
        white-space: normal;
    }

    .foglalasMain h1 {
        font-size: 40px;
    }

    .foglalas-flex {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .foglalas-kep {
        display: flex;
    }

    .foglalas-kep img {
        height: 100%;
        object-fit: cover;
    }

    .foglalas-form {
        padding: 30px;
    }

    .foglalas-form input,
    .foglalas-form select,
    .foglalas-form button {
        width: 100%; 
    }
    
    .foglalas-form label {
        font-size: 20px;
    }
    
    .foglalas-form button {
        font-size: 30px;
    }

    .velemenyek-oldal h1 {
        font-size: 40px;
    }
    
    .velemenyform h2 {
        font-size: 30px;
    }

    .velemenymelle {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .velemenyek-grid {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .velemeny-kartya:hover {
        transform: translateY(-5px);
        border-color: gold;
    }
    
    .velemenyform label {
        font-size: 20px;
    }
    
    .velemenyform button {
        font-size: 30px;
    }

    .gomb1:hover {
        background: gray;
        transform: translateY(-5px);
    }

    .arakGomb:hover {
        background: gray;
        transform: translateY(-5px);
    }

    .foglalas-form button:hover {
        background-color: #666;
        transform: translateY(-5px);
    }

    .velemenyform button:hover {
        background-color: #666;
        transform: translateY(-5px);
    }

}


